langchain
langchain-classic
langchain-chroma
langchain-core
langchain-google-genai
langchain-text-splitters
langchain-voyageai
chromadb
fastapi
uvicorn
python-dotenv
requests
beautifulsoup4
tqdm
wikipedia-api